<h1>Sample App</h1>
<p>
  This is the home page for the Ruby on Rails Tutorial. This is a <%= link_to "hyperlink!", '#' %>!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

